In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
sns.set_palette("colorblind")

In [11]:
cart = pd.read_csv("dataset-carte.csv")
df = pd.read_csv("dataset-entier.csv")
cont = pd.read_csv("liste-contaminants.csv")

In [16]:
df.head()

,bss_id,au_moins_un_depassement,au_moins_un_20_pourcent_depassement,params_recherches,params_depassement,mesures_depassement,dates_depassement,count_params_depassement,pourcentage_depassement,total_mesures,...,mesures_quantif,dates_quantif,count_params_quantif,nb_quantif_per_param,params_potabilite,mesures_potabilite,dates_potabilite,count_params_potabilite,alerte_nitrates,famille
0,BSS001MWMQ,False,False,1335|1339|1340,NaN,NaN,NaN,0,NaN,NaN,...,"[30.6, 29.9, 31.0, 32.0]","['2016-11-07', '2018-05-23', '2020-10-06', '20...",1,4,NaN,NaN,NaN,0,4,nitrates et nitrites
1,BSS001MWNL,True,True,1433|1335|1339|1340,1433,"[2.0, 2.22, 1.75, 1.69, 1.87, 1.67, 1.72, 1.69...","['2016-10-10', '2017-05-10', '2017-09-19', '20...",1,100.0,13.0,...,"[0.012, 0.009, 0.023, 0.007, 0.015, 0.007, 0.0...","['2017-05-10', '2017-09-19', '2018-04-10', '20...",3,7|2|13,NaN,NaN,NaN,0,11,nitrates et nitrites
2,BSS001MWNV,False,False,1433|1335|1339|1340,NaN,NaN,NaN,0,NaN,NaN,...,"[0.36, 0.36, 0.338, 0.332, 0.37, 0.326, 0.354,...","['2016-04-05', '2016-10-10', '2017-05-10', '20...",3,15|8|20,NaN,NaN,NaN,0,0,nitrates et nitrites
3,BSS001MWNW,False,False,1433|1335|1339|1340,NaN,NaN,NaN,0,NaN,NaN,...,"[0.19, 0.21, 0.173, 0.175, 0.19, 0.231, 0.266,...","['2016-04-05', '2016-10-10', '2017-05-10', '20...",3,15|8|15,NaN,NaN,NaN,0,0,nitrates et nitrites
4,BSS001MWRU,False,False,1335|1339|1340,NaN,NaN,NaN,0,NaN,NaN,...,"[3.4, 3.7, 4.1, 3.4]","['2016-04-11', '2018-10-17', '2020-02-17', '20...",1,4,NaN,NaN,NaN,0,0,nitrates et nitrites

In [28]:
df.iloc[10304]

bss_id                                                                        BSS001MWMQ
au_moins_un_depassement                                                            False
au_moins_un_20_pourcent_depassement                                                False
params_recherches                      1386|1388|1337|1338|1362|1369|1375|1376|1385|7073
params_depassement                                                                   NaN
mesures_depassement                                                                  NaN
dates_depassement                                                                    NaN
count_params_depassement                                                               0
pourcentage_depassement                                                              NaN
total_mesures                                                                        NaN
params_quantif                                        1337|1338|1362|1369|1375|1376|7073
mesures_quantif                        [28.4, 28.8, 29.0, 29.0]|[12.3, 13.4, 13.0, 13...
dates_quantif                          ['2016-11-07', '2018-05-23', '2020-10-06', '20...
count_params_quantif                                                                   7
nb_quantif_per_param                                                       4|4|3|4|4|1|3
params_potabilite                                                                    NaN
mesures_potabilite                                                                   NaN
dates_potabilite                                                                     NaN
count_params_potabilite                                                                0
alerte_nitrates                                                                        0
famille                                                                              FHG
Name: 10304, dtype: object

In [24]:
df["famille"].unique()

array(['nitrates et nitrites', 'agriculture', 'FHG', 'hydrocarbures',
       'industrie', 'mÃ©dicaments'], dtype=object)

In [12]:
cart.head()

,Unnamed: 0,bss_id,params_depassement,max_mesure_per_param_depassement,nb_depassement_per_param,max_mesure_per_param_depassement_date,params_quantif,nb_quantif_per_param,famille,x,y,nom_commune,num_departement,alerte_nitrates,count_params_potabilite,codes_masse_eau_edl,count_params_depassement
0,1,BSS000QXYD,NaN,NaN,NaN,NaN,;;;;;,;;;;;,;;;;4;,-2.955,48.617,PlÃ©guien,22.0,0,0,GG039,0
1,2,BSS001JDCY,NaN,NaN,NaN,NaN,1107|6276;;;;;1386|1337|1338|1362|1369|1375|7073,1|1;;;;;1|2|2|2|2|2|2,0;1;2;;4;5,5.574,47.327,Chevigney,70.0,0,0,NaN,0
2,3,BSS001VUGC,NaN,NaN,NaN,NaN,1108|6276|6854;;2013;;1340;1337|1338|1375|7073,3|4|1;;1;;8;8|8|8|2,0;1;2;;4;5,5.592,45.458,Saint-Sulpice-des-Rivoires,38.0,0,0,DG350,0
3,4,BSS001VUGK,NaN,NaN,NaN,NaN,1263|1108|6276;;;;1340;1337|1338|1362|1375|7073,1|1|1;;;;1;1|1|1|1|1,0;1;2;;4;5,5.666,45.506,Saint-Jean-d'Avelanne,38.0,0,0,NaN,0
4,5,BSS001VXSN,NaN,NaN,NaN,NaN,;;;;1433|1340;1337|1338|1369|1370|1375|1396|7073,;;;;5|5;1|5|3|1|5|5|4,0;1;2;;4;5,6.710,45.503,La Plagne Tarentaise,73.0,0,0,DG406,0

In [17]:
cart.shape

(24695, 17)

In [20]:
cont.head()

,code_sandre,nom,code_cas,usage_lm,metabolite_lm,unite_ades,valeur_seuil_lm,unite_valeur_limite_conso_humaine,valeur_limite_conso_humaine,commentaire_lm
0,1101,alachlore,15972-60-8,pesticides et leurs mÃ©tabolites,substance active,Âµg/L,"0,1",Âµg/L,2,NaN
1,1103,aldrine,309-00-2,pesticides et leurs mÃ©tabolites,substance active,Âµg/L,"0,03",Âµg/L,2,NaN
2,1105,aminotriazole,61-82-5,pesticides et leurs mÃ©tabolites,substance active,Âµg/L,"0,1",Âµg/L,2,NaN
3,1113,bentazone,25057-89-0,pesticides et leurs mÃ©tabolites,substance active,Âµg/L,"0,1",Âµg/L,2,NaN
4,1129,carbendazime,10605-21-7,pesticides et leurs mÃ©tabolites,substance active,Âµg/L,"0,1",Âµg/L,2,NaN

In [22]:
cont.loc[cont["code_sandre"] == 1386 ]

,code_sandre,nom,code_cas,usage_lm,metabolite_lm,unite_ades,valeur_seuil_lm,unite_valeur_limite_conso_humaine,valeur_limite_conso_humaine,commentaire_lm
160,1386,nickel,7440-02-0,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,20,Âµg/L,20,NaN

cont.loc[cont["usage_lm"] == "mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux"]

In [25]:
cont.loc[cont["usage_lm"] == "mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux"]

,code_sandre,nom,code_cas,usage_lm,metabolite_lm,unite_ades,valeur_seuil_lm,unite_valeur_limite_conso_humaine,valeur_limite_conso_humaine,commentaire_lm
159,1382,plomb,7439-92-1,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,10,Âµg/L,50,NaN
160,1386,nickel,7440-02-0,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,20,Âµg/L,20,NaN
161,1387,mercure,7439-97-6,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,1,Âµg/L,1,NaN
162,1388,cadmium,7440-43-9,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,5,Âµg/L,5,NaN
163,1337,chlorures,16887-00-6,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,mg/L,250,mg/L,200,limite conso humaine infÃ©rieure au seuil 2023
164,1338,sulfate,14808-79-8,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,mg/L,250,mg/L,250,"naturellement il y a des Ã©vaporites, difficile..."
165,1362,bore,7440-42-8,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,1000,Âµg/L,2400,"La limite de qualitÃ© est fixÃ©e Ã 2,4 mg/ L lor..."
166,1369,arsenic,7440-38-2,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,10,Âµg/L,100,NaN
167,1370,aluminium,7429-90-5,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,200,NaN,NaN,NaN
168,1371,chrome hexavalent,18540-29-9,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,50,Âµg/L,50,NaN
169,1375,sodium,7440-23-5,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,mg/L,200,mg/L,200,NaN
170,1376,antimoine,7440-36-0,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,5,NaN,NaN,NaN
171,1383,zinc,7440-66-6,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,5000,NaN,NaN,NaN
172,1385,sÃ©lÃ©nium,7782-49-2,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,10,Âµg/L,30,"30 si FHG sinon 20, on garde la limite la plus..."
173,1389,chrome,7440-47-3,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,50,Âµg/L,50,NaN
174,1392,cuivre,7440-50-8,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,2000,NaN,NaN,NaN
175,1395,molybdÃ¨ne,7439-98-7,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,70,NaN,NaN,NaN
176,1396,baryum,7440-39-3,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,700,NaN,NaN,NaN
177,1751,bromates,15541-45-4,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,Âµg/L,10,NaN,NaN,NaN
178,7073,fluorure,16984-48-8,"mÃ©taux, mÃ©talloÃ¯des et autres ions minÃ©raux",non applicable,mg/L,"1,5",mg/L,"1,5",NaN